{{#each this}}
<li class="what-we-do-list__item">
  <picture class="what-we-do-list__img">
    <img src="{{img}}" alt="{{overlay}}" />
  </picture>
  <h3 class="what-we-do-list__overlay">{{overlay}}</h3>
</li>
{{/each}}